*{
    margin: 0;
}

.total{
  height: 100%;
  width: 100%;
  text-align: center;
    
}
.kseeb{
    padding-top: 10px;
    font-size: 20px;
    color: white;
    background-color: orange;
    height: 60px;
}
#kseebtext{
    font-size: 30px;
}
#name{
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    background-color: rgb(255,0,0);
}
#a,tr,td{
    border: .5px solid rgb(245, 245, 245);
    border-collapse: collapse;

}

#a td{
    height: 30px;
    width: 900px;
    text-align:left;
    padding-left: 8px;
    color: white;
    font-size: 16;
}
#b{
    margin: auto;
    margin-top: 20px;
}
#b, th,td{
    border: .5px solid rgb(199, 182, 182);
    border-collapse: collapse;
    width: 800px;
    height: 40px;

}
#b td{
    
    padding-left: 30px;
}
